.container{
    width: 45%;
}

.header2{
    margin: 5%
}



header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

header a {
    text-decoration: none;
    color: #A7A1AE;
    transition: all 0.3s ease 0s;
}

header a:hover {
    color: #ff428a;
}


body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42em;
    color: #A7A1AE;
    background-color: #1F2739;
    margin: 0;
}

h1 {
    font-size: 3em;
    font-weight: 300;
    line-height: 1em;
    text-align: center;
    color: #4DC3FA;
}

input, select, textarea{
    color: #ffffff;
    background-color: #364464;
    border-radius: 13px;
}
label{
    color: #fff;
}
